.ipynb_checkpoints/
__pycache__/
archive/

# snakemake files that are specific to the workflow
.snakemake/

# created if using this directory to run workflows
samtools*

# additional config and running files
snakefile_*
run*.sh
config_*
rules_*

# input data files. Don't need to keep them here
/*.csv
/*.tsv
/*.txt

*sandbox.ipynb

# large files
*.fasta
references/ref_genome/H37Rv_coords_to_gene.csv
